/*------------ IMPORTS ------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/*------------ GLOBAL CONFIGS ------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    /* Añade posición relativa al elemento body */
}

.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/*------------ HEADER SECTION CONFIGS ------------*/

header {
    padding: 20px;
    background-image: url(../media/reptile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 10px;
}

.botones-nav {
    transition: 0.3s ease;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid #3fa46a;
    border-bottom: 4px solid #3fa46a;
    padding: 20px 0;
    margin: 0 20px;
}

.botones-nav:hover {
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 6px 0;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

/*------------ HERO SECTION CONFIGS ------------*/

.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.hero h2 {
    margin-top: 50px;
    margin-left: 150px;
    font-size: 3rem;
    color: #096A2E;
    border-top: 4px solid #3fa46a;
    border-bottom: 4px solid #3fa46a;
}

.hero img {
    margin-right: 50px;
}

/*------------ MAIN SECTION CONFIGS ------------*/

.main-elements {
    background-image: url(../media/points-floor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 80px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #040D12;
    margin-top: 10px;
    padding: 20px;
    gap: 30px;
}

.cards {
    padding: 20px;
    width: 400px;
    background: white;
    padding: 20px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.cards:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid #096A2E;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.cards h3 {
    color: #096A2E;
}

/*------------ FOOTER SECTION CONFIGS ------------*/

.footer-container {
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Major Mono Display', monospace;

}

.marca-logo {
    margin: 10px;
    gap: 1rem;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.frase-footer {
    text-align: center;
    padding: 1rem;
}

.marca-logo h4 {
    padding: 10px;
    text-align: center;
}

.social-media a {
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: transparent;
    font-size: 2rem;
    color: #b7e4c7;

    transition: .5s ease;
}

.social-media a:hover {
    background: #040D12;
    color: white;
    box-shadow: 0 0 1rem black;
}

/*------------ MEDIAQUERYS ------------*/

/* 2xl */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

/* md */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
}

/* sm */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }
}

/* xs */
@media (max-width: 575px) {
    .container {
        width: 100%;
    }

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.35rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #ececec;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        padding-top: 40px;
        flex-direction: column;
        align-items: end;
    }

    .nav-list li {
        padding: 10px;
        color: #ecececec;
    }

    .botones-nav {
        padding: 0;
        border-top: 0;
    }

    .hero {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        background-image: url(../media/points-lines.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero img {
        margin-top: 70px;
        margin-bottom: 28px;
        width: 310px;
        height: 200px;
        visibility: visible;
    }

    #form {
        position: relative;
        width: 450px;
        margin: 50px auto 100px auto;
    }

    input {
        font-family: 'Lato', sans-serif;
        font-size: 0.875em;
        width: 450px;
        height: 50px;
        padding: 0px 15px 0px 15px;

        background: transparent;
        outline: none;
        color: #726659;

        border: solid 1px #b3aca7;
        border-bottom: none;

        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
    }

    input:hover {
        background: #b3aca7;
        color: #e2dedb;
    }

    textarea {
        width: 450px;
        max-width: 470px;
        height: 110px;
        max-height: 110px;
        padding: 15px;

        background: transparent;
        outline: none;

        color: #726659;
        font-family: 'Lato', sans-serif;
        font-size: 0.875em;

        border: solid 1px #b3aca7;

        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
    }

    textarea:hover {
        background: #b3aca7;
        color: #e2dedb;
    }

    #submit {
        width: 450px;

        padding: 0;
        margin: -5px 0px 0px 0px;

        font-family: 'Lato', sans-serif;
        font-size: 0.875em;
        color: #b3aca7;

        outline: none;
        cursor: pointer;

        border: solid 1px #b3aca7;
        border-top: none;
    }

    #submit:hover {
        color: white;
        background-color: #096A2E;
    }

    .hero h2 {
        margin-top: 50px;
        margin-left: 0px;
        font-size: 1.8rem;
        border-top: 2px solid #3fa46a;
        border-bottom: 2px solid #3fa46a;
    }

    .hero img {
        display: none;
        height: 450px;
        width: 350px;
        margin-right: 0px;
    }

    .cards-container {
        margin: 30px;
    }
}
